body {
    padding: 1rem;
    background-color: #ffffff;
}

.display-6{
  font-weight: 300;
  font-size: 2.1rem;
}

.sidebar {
  position: fixed;
  padding: 13% 4%;
}

.vertical-center {
  margin: 0;
  position: fixed;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

li {
  line-height: 160%;
}

li a{
  color: #808080;
}

.menu {
  padding: 5% 0 0 2%;
  list-style-type: none;
}

.container {
  margin: 5% 0 0 29%;
  max-width: fit-content;
  align-items: center;
  justify-content: center;
}

.bio {
  padding: 6% 0 0 15%;
}

.more-content {
  margin: 2% 2% 0 11%;
}

figure {
  margin: 0 0 -4% 0;
}

#hello {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 0%;
}

.contact-info {
  text-align: center;
  padding: 13.5% 34% 0 0;
}

img {
  height: 35vw;
}

a:link {
    text-decoration: none;
  }

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.abt {
  padding-top: 1%;
  padding-right: 15%;
  padding-left: 15%;
}

.projects {
  margin: 6% 20% 0 29%;
  max-width: fit-content;
}

.tvac-desc {
  margin-top: 2%;
}

.project-heading {
  padding: 0% 0% 1% 0%;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 5% 0 0 29%;
}

.image-gallery > li {
  height: 300px;
  cursor: pointer;
  position: relative;
  list-style-type: none;
}

.image-gallery li img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border-radius: 5px;
}

.image-gallery::after {
  content: "";
  flex-grow: 999;
}

.carousel-item {
  height: 400px;
  overflow: hidden;
  width: 100%;
}

.carousel-control-next, .carousel-control-prev {
  top: 50%;
  bottom: 50%;
}

#logo {
  color: #000000;
}

.date {
  margin: -1% 0% 2% 0%;
}

#audiophile {
  margin: 0% 0% 2% 0%;
}

#enlarge {
  margin: 2% 0% 0% 37%;
}

#backlink {
  margin: 6% 0% -1% 31%;
}

#back {
  color: #808080;
  font-size: 1.1rem;
}

#back:hover {
  color: #0a58ca;
}

.project-date {
  margin-top: 2.5%;
}

.header {
  display: flex;
  justify-content: space-between;
}
